@import "tailwindcss";

/* Your custom styles below */
@theme {
  --color-brightblue: #57b5eb;
  --color-darkblue: #0d2d52;
  --color-lightblue: #b1d9f5;
  --color-difred: #fd261b;
  --color-difoffwhite: #f6f2f2;
  --color-diuprimary: #ba0c2f;
  --color-diusecondary: #8b0822;
  --color-diuaccent: #d9233c;
  --color-pink: #c94790;
  --color-gray: #666666;
  --color-bueblue: #264997;
}
